<section class="contatiner-fluid home-section-1 d-flex align-items-center">
    <div class="container">
        <div class="row row-height">
            <div class="col-12 d-flex align-items-center justify-content-center flex-column">

                <h1 class="mat-display-3 text-center mainTitle font-family">{{mainTitle}}</h1>   
                <button class="btn exploreBtn" routerLink= "/display-cakes" mat-raised-button>Explore</button>
            </div>

        </div>
    </div>

</section>



